// _base.scss
// ==============
body {
  font-family: $bodyFont;
  font-size: 10px;
  background: $dark;
  color: $light;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headFont;
  font-weight: 200;
  font-size: 4.0em;
}

.wrapper {
  @include j-cf();
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
