// _base.scss
// ==============
body {
  font-family: $bodyFont;
  font-weight: 100;
  font-size: 10px;
  background: $dark;
  color: $light;
  min-width: 400px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  color: $green;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
  &:hover, &:focus {
    color: $light;
  }
  &:active {
    color: $green;
  }
}

.wrapper {
  @include j-cf();
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include media(mobile) {
    padding: 0 20px;
  };
  @include media(tablet) {
    padding: 0 40px;
  };
  @include media(laptop) {
    padding: 0 70px;
  };
  @include media(desktop) {
    padding: 0 100px;
  };

}

main {
  min-height: 100vh;
}

#modal-delete .modal-content {
  text-align: center;
  p {
    margin-top: -40px;
    padding-bottom: 20px;
  }
}

#modal-image .modal-content {
  img {
    width: 100%;
    max-width: 800px;
    display: block;
  }
}
