// _base.scss
// ==============
@import "mixins";
@import "variables";
body {
  font-family: $bodyFont;
  font-size: 10px;
  background: $dark;
  color: $light;
  min-width: 400px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headFont;
  font-weight: 200;
}

a {
  color: $green;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
  &:hover, &:focus {
    color: $light;
  }
  &:active {
    color: $green;
  }
}

.wrapper {
  @include j-cf();
  width: 100%;
  margin: 0 auto;
  position: relative;
  @include media(mobile) {
    padding: 0 20px;
  };
  @include media(tablet) {
    padding: 0 40px;
  };
  @include media(laptop) {
    padding: 0 70px;
  };
  @include media(desktop) {
    padding: 0 100px;
  };

}

.button {
  background-color: $green;
  color: $dark;
  font-size: 1.6em;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
  &:hover, &:focus {
    background-color: darken($green, 20%);
    color: $light;
  }
  &:active {
    box-shadow: inset 0 2px 10px black;
  }
  &-alt {
    background-color: darken($light, 30%);
    color: $dark;
    &:hover, &:focus {
      background-color: darken($light, 40%);
      color: $light;
    }
  }
  &-dark {
    background-color: $dark;
    color: $light;
    &:hover, &:focus {
      background-color: lighten($dark, 20%);
      color: $light;
    }
  }
}

main {
  min-height: 100vh;
}

#modal-delete .modal-content {
  text-align: center;
  p {
    margin-top: -40px;
    padding-bottom: 20px;
  }
}
