// _base.scss
// ==============
body {
  font-family: $bodyFont;
  font-size: 10px;
  background: $dark;
  color: $light;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $headFont;
  font-weight: 200;
}

a {
  color: $green;
  text-decoration: none;
  transition: all, 0.4s, ease-out;
  &:hover, &:focus {
    color: $light;
  }
  &:active {
    color: $green;
  }
}

.wrapper {
  @include j-cf();
  width: 100%;
  padding: 0 $pad;
  margin: 0 auto;
  position: relative;
}
