@font-face {
    font-family: 'Elation Base';
    src: url('fonts/elationbase/eb-light-webfont.eot');
    src: url('fonts/elationbase/eb-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/elationbase/eb-light-webfont.woff2') format('woff2'),
         url('fonts/elationbase/eb-light-webfont.woff') format('woff'),
         url('fonts/elationbase/eb-light-webfont.ttf') format('truetype'),
         url('fonts/elationbase/eb-light-webfont.svg#eb_light') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Elation Base';
    src: url('fonts/elationbase/eb-regular-webfont.eot');
    src: url('fonts/elationbase/eb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/elationbase/eb-regular-webfont.woff2') format('woff2'),
         url('fonts/elationbase/eb-regular-webfont.woff') format('woff'),
         url('fonts/elationbase/eb-regular-webfont.ttf') format('truetype'),
         url('fonts/elationbase/eb-regular-webfont.svg#eb_regular') format('svg');
    font-weight: 400;
    font-style: normal;
}
