.main-footer {
  padding: 100px 40px;
  background-color: lighten($dark, 5%);
  text-align: center;
  font-size: 1.6em;
  font-weight: 200;
  img {
    max-width: 140px;
    margin-bottom: 10px;
  }
}
