.search-section {
  min-height: 100vh;
  background: url(../img/main-bg.jpg) bottom right;
  background-size: cover;
  padding-top: 200px;
  h1 {
    font-size: 4.0em;
    color: $green;
    @include media(mobile) {
      text-align: center;
    };
  }
  h2 {
    font-size: 2.8em;
    color: $light;
    @include media(mobile) {
      text-align: center;
      margin-top: 20px;
    };
  }
  .search-wrapper {
    @include j-cf();
    margin-top: 20px;
    @include media(mobile) {
      text-align: center;
    };
  }
  input[type="search"] {
    display: block;
    float: left;
    padding: 20px;
    border: none;
    outline: none;
    width: 70%;
    height: 63px;
    max-width: 500px;
    font-size: 2.0em;
    border-radius: 4px 0 0 4px;
    background-color: darken($light, 5%);
    transition: all, 0.4s, ease;
    appearance: none;
    &:hover {
      background-color: $light;
    }
    &:focus {
      background-color: #fff;
      box-shadow: inset 0 0 15px rgba(0,0,0,0.8);
    }
    @include media(mobile) {
      width: 100%;
      border-radius: 4px;
      float: none;
      display: inline-block;
      text-align: center;
    };
  }
  .select {
    label {
      cursor: pointer;
      position: relative;
    }
    input[type="radio"]  {
      visibility: hidden;
      position: absolute;
      left: -26px;
      top: -3px;
      &:checked:after {
        font-family: 'ultimages';
        content: "\63";
        font-size: 2.0em;
        visibility: visible;
        float: left;
        opacity: 1;
      }
    }
    @include media(mobile) {
      display: none;
    };
  }
}
.userlist {
  position: relative;
  ul {
    position: absolute;
    top: 100%;
    @include media(mobile) {
      right: -20px;
    };
    @include media(tablet) {
      right: -40px;
    };
    @include media(laptop) {
      right: -70px;
    };
    @include media(desktop) {
      right: -100px;
    };
    left: 0;
    padding-bottom: 15px;
    overflow-x: auto;
    white-space: nowrap;
    margin: auto;
    &.ng-hide {
      li {
        margin-left: 100vh;
      }
    }
  }
  li {
    display: inline-block;
    @include media(mobile) {
      display: block;
      text-align: center;
    };
    margin: 20px 20px 0 0;
    transition: all 0.5s ease-out;
    a {
      display: block;
      padding: 15px;
      background-color: rgba(255,255,255,0.5);
      @include j-cf();
      border-radius: 3px;
      box-shadow: 0 0 6px rgba(0,0,0,0.3);
      @include media(mobile) {
        display: inline-block;
        width: 100%;
        max-width: 500px;
      };
      img {
        width: 120px;
        float: left;
        @include media(mobile) {
          width: 100px;
        };
      }
      .info {
        margin-left: 120px;
        padding: 50px 15px 0 15px;
        @include media(mobile) {
          margin-left: 100px;
          padding-top: 10px;
        };
      }
      &:hover {
        background-color: rgba(255,255,255,0.7);;
      }
    }
    h2 {
      font-size: 2.5em;
      color: $light;
      text-transform: uppercase;
      font-weight: 400;
      text-align: left;
    }
    h3 {
      font-size: 18px;
      color: $dark;
      font-weight: 400;
      text-align: left;
    }
  }
}


.search-section {
  > .wrapper {
    position: relative;
    z-index: 5;
  }
}
.bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-position: center;
  background-size: cover;
  &.is-active {
    z-index: 3
  }
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  margin-left: 100vh;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  margin-left: 0;
}
