// _mixins
// ========
@mixin backImage($image) {
  background: url($image) no-repeat 50% 20% ;
  background-size: cover;
  transition: all 0.3s ease-out;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
