// _details.scss
// =================
article.users {
  background-color: $dark;
}
.hero {
  height: 375px;
  background-color: $dark;
  background-attachment: fixed;
  position: relative;
  &.john-doe {
    background-image: url(../img/john-doe-bg.jpg);
  }
  &.rachel-doe {
    background-image: url(../img/rachel-doe-bg.jpg);
  }
  &.ronald-doe {
    background-image: url(../img/ronald-doe-bg.jpg);
  }
  .wrapper {
    height: 375px;
  }
  .face {
    position: absolute;
    bottom: -100px;
    left: 50%;
    margin-left: -100px;
    @include media (mobile){
      width: 160px;
      bottom: -75px;
      margin-left: -75px;
    };
  }
  .info {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: $dark;
    padding: 20px 80px 20px 40px;
    text-align: right;
    @include media (tablet){
      padding: 20px 60px 20px 40px;
    };
    @include media (mobile){
      text-align: center;
      width: 100%;
      top: 160px;
      padding: 20px 40px 20px 40px;
    };
    h2 {
      font-size: 2.1em;
      font-weight: 400;
      text-transform: uppercase;
      padding-bottom: 5px;
    }
    h3{
      font-size: 1.8em;
    }
    .bio {
      display: none;
    }
  }
}
.recap {
  padding-top: 30px;
  padding-bottom: 25px;
  @include j-cf();
  .recap-l {
    float: left;
    font-size: 2.5em;
    font-weight: 400;
    span {
      display: block;
      font-size: 0.6em;
      color: $midgrey;
    }
    .icon {
      color: $green;
      font-size: 2.0em;
    }
  }
  .recap-r {
    float: right;
    font-size: 2.5em;
    font-weight: 400;
    text-align: right;
    span {
      display: block;
      font-size: 0.6em;
      color: $midgrey;
    }
    .icon {
      color: $green;
      font-size: 2.0em;
    }
  }
}

.list-section {
  header {
    background-color: $green;
    @include j-cf();
    &.js-stick-on {
      height: 72px;
      .stick {
        background-color: $green;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 6;
        @include media(mobile) {
          padding: 0 20px;
        };
        @include media(tablet) {
          padding: 0 40px;
        };
        @include media(laptop) {
          padding: 0 70px;
        };
        @include media(desktop) {
          padding: 0 100px;
        };
        a {
          line-height: 1.7;
          &.add-new {
            margin: 5px 0;
          }
        }
      }
    }
    a {
      display: block;
      float: left;
      color: $dark;
      line-height: 2.4;
      &.add-new {
        font-size: 2.0em;
        margin: 10px 0;
        padding: 0 20px;
        border: 1px solid $dark;
        border-radius: 3px;
        @include media(mobile) {
          padding: 0 10px;
          .icon-plus {
            display: none;
          }
        };
        span {
          padding-right: 10px;
          font-size: 1.4em;
          line-height: 1;
          vertical-align: -8px;
        }
        &:hover {
          background-color: $darkgreen;
          color: $light;
        }
      }
      &.icon {
        font-size: 3.0em;
        @include media(mobile) {
          padding: 0 10px;
          &-love {
            display: none;
          }
        };
      }
    }
    .list-l {
      @include j-span (7/12);
      @include media(tablet) {
        @include j-span (1/2);
      };
      @include media(mobile) {
        @include j-span (3/8);
      };
    }
    .list-r {
      @include j-span (5/12);
      @include media(tablet) {
        @include j-span (1/2);
      };
      @include media(mobile) {
        @include j-span (5/8);
        position: relative;
        right: -20px;
      };
      li {
        @include j-span (1/5);
        text-align: right;
        list-style: none;
        @include media(mobile) {
          @include j-span (1/4);
        }
        a {
          padding: 0 25px;
          float: right;
          @include media(mobile) {
            padding: 0 15px;
          }
          &:hover {
            background-color: $darkgreen;
            color: $light;
          }
          &:before {
            vertical-align: -6px;
          }
        }
      }
    }
  }
}
.list-files {
  .list-l {
    @include j-span (7/12);
    @include media(tablet) {
      @include j-span (1/2);
    };
    @include media(mobile) {
      @include j-span (1/1);
    };
  }
  .list-r {
    @include j-span (5/12);
    @include media(tablet) {
      @include j-span (1/2);
    };
    @include media(mobile) {
      @include j-span (1/1);
    };
    span {
      @include j-span (1/4);
      text-align: right;
      display: block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .legend {
    background-color: $darkgreen;
    color: $green;
    @include j-cf();
    font-size: 2.4em;
    font-weight: 200;
    line-height: 2.8em;
    transition: all 0.8s ease-out;
    height: 67px;
    @include media(mobile) {
      display: none;
    };
    &.js-stick-on {
      line-height: 1.6em;
      background-color: transparent;
      .stick {
        background-color: $darkgreen;
        position: fixed;
        top: 51px;
        right: 0;
        left: 0;
        z-index: 5;
        @include media(mobile) {
          padding: 0 20px;
        };
        @include media(tablet) {
          padding: 0 40px;
        };
        @include media(laptop) {
          padding: 0 70px;
        };
        @include media(desktop) {
          padding: 0 100px;
        };
        line-height: 1.6em;
      }
    }
  }
  .file {
    border-bottom: 1px solid $midgrey;
    transition: all, 0.4s, ease-out;
    a {
      color: $light;
      padding: 20px 0;
      display: block;
      @include j-cf();
      font-weight: 200;
    }
    .list-l {
      font-size: 2.2em;
    }
    .list-r {
      font-size: 1.8em;
      @include media(mobile) {
        margin-top: 20px;
        background: darken($dark, 5%);;
        line-height: 1.5em;
        span {
          text-align: center;
        }
      };
    }
    .file-type {
      border: 1px solid $green;
      border-radius: 50%;
      font-size: 0.7em;
      font-weight: 400;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      text-transform: uppercase;
      position: absolute;
      top: 11px;
      transform: scale(0.8);
      transition: all, 0.4s, ease-out;
    }
    .file-name {
      padding-left: 60px;
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover {
      background-color: lighten($dark, 5%);
      .file-type {
        top: 11px;
        transform: scale(1);
        background-color: $green;
        color: $dark;
      }
    }
  }
}
