// _variables.scss
// =================

// Color Palette
$dark       : #073642;
$light		: #F1F1F1;
$white      : #FFFFFF;

$base1      : #839496;
$base2      : #586e75;

$yellow	    : #b58900;
$orange	    : #ff8000;
$red	    : #dc322f;
$magenta	: #d33682;
$violet	    : #6c71c4;
$blue	    : #07b3f2;
$cyan	    : #2aa198;
$green	    : #859900;


// Fonts
$headFont : sans-serif;
$bodyFont : serif;  
	  