// _variables.scss
// =================

// Color Palette
$dark       : #2c3e50;
$light		  : #F1F1F1;
$white      : #FFFFFF;

$green	    : #add278;
$darkgreen  : #4a6059;
$midgrey    : #999999;

$base1      : #839496;
$base2      : #586e75;

$yellow	    : #b58900;
$orange	    : #ff8000;
$red	      : #dc322f;
$magenta	  : #d33682;
$violet	    : #6c71c4;
$blue	      : #07b3f2;
$cyan	      : #2aa198;


// Fonts
$headFont : 'Elation Base', sans-serif;
$bodyFont : 'Elation Base', sans-serif;
