// variables
$light : #eaeaea;
$dark : #2c3e50;
$blue : #b4c5c7;
$grey : #d8d8d8;
$brand : #0e98c2;

@import url(https://fonts.googleapis.com/css?family=Roboto:400,300);
//
body {
  font-family: 'Roboto', sans-serif;
  background: $light;
  color: $dark ;
}
.main-header h1 a {
    background: url("../../img/logo-ultimages-light.svg") center no-repeat;
}
.search-section {
    background: url("../../img/bgs/main-bg-light.jpg") bottom right;
    background-size: cover;
    h1 {
        color: $brand;
        text-transform: uppercase;
        font-size: 3.0em;
        text-shadow: 0 0 40px #000;
    }
    h2 {
      color: #898989;
      text-shadow: 0 0 40px #000;
    }
    input[type="search"] {
      box-shadow: inset 0 0 4px 0 $brand;
      &:focus {
        box-shadow: inset 0 0 4px 0 $brand;
      }
    }
    .select ul {
      box-shadow: none;
      li {
        color: $brand;
      }
    }
    .select > li {
      background-color: $brand;
    }
}

.userlist li a {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.userlist li h2 {
    color: #4a967f;
  }

.hero .info {
  background-color: rgba(255,255,255,0.8);
  color: $dark;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  h2 {
    color: $brand;
  }
}
article.users {
  background-color: $light;
}
.recap {
  background-color: $grey;
}
.recap .recap-l, .recap .recap-r {
  color: $dark;
  .icon {
    color: $brand;
  }
}
.list-section header {
    background-color: $blue;
}
.list-section header.js-stick-on .stick {
    background-color: $blue;
}
.list-files .legend.js-stick-on .stick {
  background-color: $grey;
}
.list-files .legend {
    background-color: $grey;
    color: #000000;
}
.list-section header .list-r li a:hover {
    background-color: $brand;
}
.list-section header a.add-new {
  border: 1px solid $brand;
  background-color: $brand;
color: #F1F1F1;
  &:hover {
      background-color: darken($brand, 10%);
      color: #F1F1F1;
  }
}
.list-files .file a {
  color: $dark;
}
.list-files .file:hover {
    background-color: lighten($grey, 25%);
}
.list-files .file.is-active, .list-files .file.is-active:hover {
    background-color: $blue;
}

.list-files .file .file-type {
    border: 1px solid $brand;
}
.list-files .file:hover .file-type {
    background-color: $brand;
    color: $light;
}
.main-footer {
    background: url("../../img/logo-ultimages-light.svg") center 80px/150px no-repeat $grey;
  }
.modal .modal-mask {
  background: white;
}
.modal.modal-visible .modal-mask {
    opacity: 0.6;
}
.modal header .modal-close {
  color: $brand;
}
.modal .modal-body {
  background-color: white;
}
.button {
  background-color: $brand;
  color: $light;
  &:hover, &:focus {
    background-color: darken($brand, 10%);
  }
  &-alt {
    background-color: $blue;
    color: $dark;
    &:hover, &:focus {
      background-color: lighten($blue, 10%);
      color: $dark;
    }
  }
}
