// variables
$light : #eaeaea;
$dark : #2c3e50;
$blue : #b4c5c7;
$grey : #d8d8d8;
$brand : #8ab122;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,200);
//
body {
  font-family: 'Source Sans Pro', sans-serif;
  background: $light;
}
.main-header h1 a {
    background: url("../../img/logo-ultimages.svg") center no-repeat;
    display: none;
}
.bg-imgs {
  display: none !important;
}
.face {
  border-radius: 3px;
}
.search-section {
    background: url("../../img/main-bg-ultimate.jpg") center right;
    background-size: cover;
    .header-wrapper {
      position: absolute;
      right: 0;
      bottom: -100px;
      left: 0;
      z-index: 1;
      text-align: center;
      @media only screen and (max-width: 767px) {
          top: -60px;
      }
    }
    h1 {
        color: $brand;
        font-size: 4.0em;
        font-weight: 300;
        text-shadow: 0 0 15px #000;
    }
    h2 {
      color: $light;
    }
    .search-wrapper {
      text-align: center;
      display: flex;
      width: 100%;
      max-width: 700px;
      margin: 190px auto 0 auto;
      @media only screen and (max-width: 767px) {
        display: block;
        margin-top: 80px;
      }
    }
    input[type="search"] {
      box-shadow: inset 0 0 4px 0 $brand;
      &:focus {
        box-shadow: inset 0 0 4px 0 $brand;
      }
    }
    .select {
      width: 30%;
    }
    .select ul {
      box-shadow: none;
      li {
        color: $brand;
      }
    }
    .select > li {
      background-color: $brand;
    }
}

.userlist ul {
  top: -250px;
  text-align: center;

  @media only screen and (max-width: 767px) {
      top: 0px;
  }

    @media only screen and (max-width: 400px) {
      top: 0px;
    }
    @media only screen and (min-width: 767px) {
        left: -40px;
    }
    @media only screen and (min-width: 1025px) {
      left: -70px;
    }
    @media only screen and (min-width: 1281px) {
      left: -100px;
    }
}

.userlist li a {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}
.userlist li h2 {
    color: $brand;
  }

.hero {
  .info {
    background-color: rgba(255,255,255,0.8);
    color: $dark;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    h2 {
      color: $brand;
    }
  }
  .face {
    bottom: -100px;
    left: 100px;
    margin-left: 0;
  }
}
.recap .recap-l {
  float: right;
  margin-left: 50px;
}
article.users {
  background-color: $light;
}
.recap {
  background-color: #444;
}
.recap .recap-l, .recap .recap-r {
  color: $light;
  text-align: center;
  .icon {
    color: $brand;
  }
}
.list-section header a {
  color: $light;
}
.list-section header {
    background-color: #333;
}
.list-section header.js-stick-on .stick {
    background-color: #333;
}
.list-files .legend.js-stick-on .stick {
  background-color: $grey;
}
.list-files .legend {
    background-color: $grey;
    color: #000000;
}
.list-section header .list-r li a:hover {
    background-color: $brand;
}
.list-section header a.add-new {
  border: 1px solid $brand;
  background-color: $brand;
color: #F1F1F1;
  &:hover {
      background-color: darken($brand, 10%);
      color: #F1F1F1;
  }
}
.list-files .file a {
  color: $dark;
}
.list-files .file:hover {
    background-color: lighten($grey, 25%);
}
.list-files .file.is-active, .list-files .file.is-active:hover {
    background-color: #999;
}

.list-files .file .file-type {
    border: 1px solid $brand;
}
.list-files .file:hover .file-type {
    background-color: $brand;
    color: $light;
}
.main-footer {
    background: url("../../img/logo-ultimages.svg") center 80px/150px no-repeat #444;
  }
.modal.modal-visible .modal-mask {
    opacity: 0.6;
}
.modal header .modal-close {
  color: $brand;
}
.modal .modal-body {
  background-color: #333;
}
.button {
  background-color: $brand;
  color: $light;
  &:hover, &:focus {
    background-color: darken($brand, 10%);
  }
  &-alt {
    background-color: $blue;
    color: $dark;
    &:hover, &:focus {
      background-color: lighten($blue, 10%);
      color: $dark;
    }
  }
}

.hero {
  height: 140px;
  background-color: $brand;
  &.john-doe {
    background-image: none;
  }
  .info {
    top: 25px;
  }
}

.userlist ul.ng-hide li {
  margin-left: 0;
  opacity: 0;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  margin-left: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  margin-left: 0;
}
