/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Elation Base';
  src: url("fonts/elationbase/eb-light-webfont.eot");
  src: url("fonts/elationbase/eb-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elationbase/eb-light-webfont.woff2") format("woff2"), url("fonts/elationbase/eb-light-webfont.woff") format("woff"), url("fonts/elationbase/eb-light-webfont.ttf") format("truetype"), url("fonts/elationbase/eb-light-webfont.svg#eb_light") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Elation Base';
  src: url("fonts/elationbase/eb-regular-webfont.eot");
  src: url("fonts/elationbase/eb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elationbase/eb-regular-webfont.woff2") format("woff2"), url("fonts/elationbase/eb-regular-webfont.woff") format("woff"), url("fonts/elationbase/eb-regular-webfont.ttf") format("truetype"), url("fonts/elationbase/eb-regular-webfont.svg#eb_regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ultimages";
  src: url("fonts/ultimages/ultimages.eot");
  src: url("fonts/ultimages/ultimages.eot?#iefix") format("embedded-opentype"), url("fonts/ultimages/ultimages.woff") format("woff"), url("fonts/ultimages/ultimages.ttf") format("truetype"), url("fonts/ultimages/ultimages.svg#ultimages") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ultimages" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ultimages" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\62";
}

.icon-checkmark:before {
  content: "\63";
}

.icon-heart:before {
  content: "\65";
}

.icon-more:before {
  content: "\67";
}

.icon-keypad:before {
  content: "\68";
}

.icon-loader:before {
  content: "\6c";
}

.icon-ultimate:before {
  content: "\6e";
}

.icon-cloudy:before {
  content: "\6f";
}

.icon-love:before {
  content: "\7a";
}

.icon-delete:before {
  content: "\41";
}

.icon-edit:before {
  content: "\42";
}

.icon-lock:before {
  content: "\43";
}

.icon-unlock:before {
  content: "\44";
}

.icon-sync:before {
  content: "\45";
}

.icon-photo:before {
  content: "\46";
}

.icon-cloud:before {
  content: "\70";
}

.icon-map:before {
  content: "\71";
}

.icon-plus:before {
  content: "\61";
}

.icon-arrow-down:before {
  content: "\64";
}

body {
  font-family: "Elation Base", sans-serif;
  font-weight: 100;
  font-size: 10px;
  background: #2c3e50;
  color: #F1F1F1;
  min-width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  color: #add278;
  text-decoration: none;
  cursor: pointer;
  transition: all, 0.4s, ease-out;
}

a:hover, a:focus {
  color: #F1F1F1;
}

a:active {
  color: #add278;
}

.wrapper {
  *zoom: 1;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wrapper:before, .wrapper:after {
  content: '';
  display: table;
}

.wrapper:after {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .wrapper {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .wrapper {
    padding: 0 70px;
  }
}

@media only screen and (min-width: 1281px) {
  .wrapper {
    padding: 0 100px;
  }
}

main {
  min-height: 100vh;
}

#modal-delete .modal-content {
  text-align: center;
}

#modal-delete .modal-content p {
  margin-top: -40px;
  padding-bottom: 20px;
}

#modal-image .modal-content img {
  width: 100%;
  max-width: 800px;
  display: block;
}

.face {
  border-radius: 50%;
}

.select {
  position: relative;
  width: 130px;
  float: left;
}

.select > li {
  font-size: 1.8em;
  background-color: #2c3e50;
  height: 63px;
  line-height: 63px;
  padding: 0 15px;
  color: #F1F1F1;
  border-radius: 0 4px 4px 0;
}

.select > li:hover ul {
  opacity: 1;
  visibility: visible;
  top: 63px;
}

.select .icon-arrow-down {
  vertical-align: -5px;
  padding-left: 5px;
}

.select ul {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 73px;
  right: 0;
  z-index: 2;
  padding-top: 15px;
  transition: all, 0.3s, ease-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.select ul:before {
  content: '';
  position: absolute;
  top: 3px;
  right: 13px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #F1F1F1 transparent;
}

.select ul li {
  padding: 10px 30px;
  background-color: #F1F1F1;
  color: #2c3e50;
  line-height: 20px;
}

.select ul li:first-child {
  border-radius: 4px 4px 0 0;
  padding-top: 20px;
}

.select ul li:last-child {
  border-radius: 0 0 4px 4px;
  padding-bottom: 20px;
}

.select ul li a {
  color: #2c3e50;
}

.button {
  background-color: #add278;
  color: #2c3e50;
  font-size: 20px;
  font-weight: 400;
  padding: 15px 30px;
  border-radius: 3px;
  display: inline-block;
  margin: 5px;
}

.button:hover, .button:focus {
  background-color: #7cab39;
  color: #F1F1F1;
}

.button:active {
  box-shadow: inset 0 2px 10px black;
}

.button-alt {
  background-color: #a5a5a5;
  color: #2c3e50;
}

.button-alt:hover, .button-alt:focus {
  background-color: #8b8b8b;
  color: #F1F1F1;
}

.button-dark {
  background-color: #2c3e50;
  color: #F1F1F1;
}

.button-dark:hover, .button-dark:focus {
  background-color: #507192;
  color: #F1F1F1;
}

.page {
  opacity: 1;
}

.page.ng-leave {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  animation: scaleOut 0.8s both ease-out;
}

.page.ng-enter {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  animation: scaleIn 0.5s 0.3s both ease-out;
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

@keyframes scaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
  from {
    opacity: 0.01;
    transform: scale(1.2);
  }
}

.main-header h1 {
  position: absolute;
  top: 70px;
  z-index: 5;
  width: 260px;
  height: 70px;
  text-indent: -9999px;
}

.main-header h1 a {
  display: block;
  height: 70px;
  color: #add278;
  font-size: 1.8em;
  font-weight: 400;
  background: url("../img/logo-ultimages.svg") center no-repeat;
}

.main-header h1 a span {
  color: #999999;
}

@media only screen and (max-width: 767px) {
  .main-header h1 {
    width: 100%;
    left: 0;
    right: 0;
  }
  .main-header h1 a {
    background-size: 200px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-header h1 {
    left: 40px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .main-header h1 {
    left: 70px;
  }
}

@media only screen and (min-width: 1281px) {
  .main-header h1 {
    left: 100px;
  }
}

.main-header nav {
  display: none;
}

.menu .menu-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  background-color: transparent;
  transition: all 0.4s ease-out;
  visibility: hidden;
}

.nav-is-open .menu .menu-mask {
  background-color: rgba(0, 0, 0, 0.8);
  visibility: visible;
  left: 25%;
}

@media only screen and (max-width: 767px) {
  .nav-is-open .menu .menu-mask {
    left: 80%;
  }
}

.menu .icon-plus {
  position: absolute;
  top: 20px;
  left: 10px;
  margin-left: 0;
  z-index: 2;
  font-size: 2em;
  cursor: pointer;
  text-shadow: 0 0 5px #000;
  transition: all 0.4s ease-out;
}

.menu .icon-plus:hover {
  transform: scale(1.2) rotate(45deg);
  color: #add278;
}

.nav-is-open .menu .icon-plus {
  margin-left: 25%;
  z-index: 9;
  transform: scale(1.2) rotate(45deg);
}

@media only screen and (max-width: 767px) {
  .nav-is-open .menu .icon-plus {
    margin-left: 80%;
  }
}

.menu .menu-nav ul {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: -25%;
  width: 25%;
  overflow: auto;
  transition: left 0.4s ease-out;
}

@media only screen and (max-width: 767px) {
  .menu .menu-nav ul {
    left: -80%;
    width: 80%;
  }
}

.nav-is-open .menu .menu-nav ul {
  left: 0;
}

.menu .menu-nav li {
  border-bottom: 1px solid #999999;
}

.menu .menu-nav li:not(.ng-scope) {
  background-color: #add278;
  color: #2c3e50;
  padding: 10px 20px;
  font-size: 2.2em;
  line-height: 1;
  font-weight: 400;
}

.menu .menu-nav li a {
  display: block;
  padding: 20px;
  font-size: 2.2em;
  line-height: 1;
  color: #F1F1F1;
}

.menu .menu-nav li a:hover {
  background-color: #233140;
}

body {
  transition: margin 0.4s ease-out;
}

.nav-is-open {
  margin-left: 25%;
  margin-right: -25%;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .nav-is-open {
    margin-left: 80%;
    margin-right: -80%;
  }
}

body.no-animate {
  transition: all 0s;
}

body.no-animate .menu-mask, body.no-animate .icon-plus, body.no-animate .menu-nav ul {
  transition: all 0s;
}

.main-footer {
  padding: 130px 40px 100px 40px;
  background: url("../img/logo-ultimages.svg") center 80px/150px no-repeat #354b60;
  text-align: center;
  font-size: 1.6em;
  font-weight: 200;
}

.main-footer img {
  max-width: 140px;
  margin-bottom: 10px;
}

.search-section {
  min-height: 100vh;
  background: url(../img/main-bg.jpg) bottom right;
  background-size: cover;
  padding-top: 200px;
}

.search-section h1 {
  font-size: 4.0em;
  color: #add278;
}

@media only screen and (max-width: 767px) {
  .search-section h1 {
    text-align: center;
  }
}

.search-section h2 {
  font-size: 2.8em;
  color: #F1F1F1;
}

@media only screen and (max-width: 767px) {
  .search-section h2 {
    text-align: center;
    margin-top: 20px;
  }
}

.search-section .search-wrapper {
  *zoom: 1;
  margin-top: 20px;
}

.search-section .search-wrapper:before, .search-section .search-wrapper:after {
  content: '';
  display: table;
}

.search-section .search-wrapper:after {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .search-section .search-wrapper {
    text-align: center;
  }
}

.search-section input[type="search"] {
  display: block;
  float: left;
  padding: 20px;
  border: none;
  outline: none;
  width: 70%;
  height: 63px;
  max-width: 500px;
  font-size: 2.0em;
  border-radius: 4px 0 0 4px;
  background-color: #e4e4e4;
  transition: all, 0.4s, ease;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search-section input[type="search"]:hover {
  background-color: #F1F1F1;
}

.search-section input[type="search"]:focus {
  background-color: #fff;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 767px) {
  .search-section input[type="search"] {
    width: 100%;
    border-radius: 4px;
    float: none;
    display: inline-block;
    text-align: center;
  }
}

.search-section .select label {
  cursor: pointer;
  position: relative;
}

.search-section .select input[type="radio"] {
  visibility: hidden;
  position: absolute;
  left: -26px;
  top: -3px;
}

.search-section .select input[type="radio"]:checked:after {
  font-family: 'ultimages';
  content: "\63";
  font-size: 2.0em;
  visibility: visible;
  float: left;
  opacity: 1;
}

@media only screen and (max-width: 767px) {
  .search-section .select {
    display: none;
  }
}

.userlist {
  position: relative;
}

.userlist ul {
  position: absolute;
  top: 100%;
  left: 0;
  padding-bottom: 15px;
  overflow-x: auto;
  white-space: nowrap;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .userlist ul {
    right: -20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .userlist ul {
    right: -40px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .userlist ul {
    right: -70px;
  }
}

@media only screen and (min-width: 1281px) {
  .userlist ul {
    right: -100px;
  }
}

.userlist ul.ng-hide li {
  margin-left: 100vh;
}

.userlist li {
  display: inline-block;
  margin: 20px 20px 0 0;
  transition: all 0.5s ease-out;
}

@media only screen and (max-width: 767px) {
  .userlist li {
    display: block;
    text-align: center;
  }
}

.userlist li a {
  display: block;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  *zoom: 1;
  border-radius: 3px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.userlist li a:before, .userlist li a:after {
  content: '';
  display: table;
}

.userlist li a:after {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .userlist li a {
    display: inline-block;
    width: 100%;
    max-width: 500px;
  }
}

.userlist li a img {
  width: 120px;
  float: left;
}

@media only screen and (max-width: 767px) {
  .userlist li a img {
    width: 100px;
  }
}

.userlist li a .info {
  margin-left: 120px;
  padding: 50px 15px 0 15px;
}

@media only screen and (max-width: 767px) {
  .userlist li a .info {
    margin-left: 100px;
    padding-top: 10px;
  }
}

.userlist li a:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.userlist li h2 {
  font-size: 2.5em;
  color: #F1F1F1;
  text-transform: uppercase;
  font-weight: 400;
  text-align: left;
}

.userlist li h3 {
  font-size: 18px;
  color: #2c3e50;
  font-weight: 400;
  text-align: left;
}

.search-section > .wrapper {
  position: relative;
  z-index: 5;
}

.bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-position: center;
  background-size: cover;
}

.bg-img.is-active {
  z-index: 3;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  margin-left: 100vh;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  margin-left: 0;
}

article.users {
  background-color: #2c3e50;
}

.hero {
  height: 375px;
  background-color: #2c3e50;
  background-attachment: fixed;
  position: relative;
}

.hero.john-doe {
  background-image: url(../img/john-doe-bg.jpg);
}

.hero.rachel-doe {
  background-image: url(../img/rachel-doe-bg.jpg);
}

.hero.ronald-doe {
  background-image: url(../img/ronald-doe-bg.jpg);
}

.hero.Aurelia-Cotta {
  background-image: url(../img/Aurelia-Cotta-bg.jpg);
}

.hero.Burton-Kettering {
  background-image: url(../img/Burton-Kettering-bg.jpg);
}

.hero.shiba-yalaa {
  background-image: url(../img/shiba-yalaa-bg.jpg);
}

.hero.oda-lazonick {
  background-image: url(../img/oda-lazonick-bg.jpg);
}

.hero.Dorethea-Kristensen {
  background-image: url(../img/Dorethea-Kristensen-bg.jpg);
}

.hero.Ronny-Liston {
  background-image: url(../img/Ronny-Liston-bg.jpg);
}

.hero.Thaddeus-Hudgins {
  background-image: url(../img/Thaddeus-Hudgins-bg.jpg);
}

.hero.john {
  background-image: url(../img/john-bg.jpg);
}

.hero.john {
  background-image: url(../img/john-bg.jpg);
}

.hero.john {
  background-image: url(../img/john-bg.jpg);
}

.hero .wrapper {
  height: 375px;
}

.hero .face {
  position: absolute;
  bottom: -100px;
  left: 50%;
  z-index: 2;
  margin-left: -100px;
  animation: scaleFace 0.5s 0.3s both ease-out;
}

@media only screen and (max-width: 767px) {
  .hero .face {
    width: 160px;
    bottom: -75px;
    margin-left: -75px;
  }
}

.hero .info {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #2c3e50;
  padding: 20px 20px 20px 10px;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .hero .info {
    text-align: center;
    width: 100%;
    top: 160px;
  }
}

.hero .info h2 {
  font-size: 2.1em;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: inline;
  margin-left: 50px;
}

.hero .info h3 {
  font-size: 1.8em;
}

.hero .info .select {
  float: right;
  width: auto;
}

.hero .info .select ul {
  width: 400px;
  text-align: right;
  font-size: 1.1em;
  box-shadow: none;
  right: -10px;
}

.hero .info .select > li {
  height: auto;
  line-height: 1px;
}

.hero .info .select > li:hover ul {
  top: 46px;
  right: -10px;
}

.hero .info .select .icon-plus {
  font-size: 2.0em;
  color: #add278;
  margin: -9px -10px 0 0;
  padding-left: 10px;
}

.hero .info .select .icon-plus:hover {
  transform: rotate(45deg);
}

.hero .info .select b {
  font-weight: 400;
  display: block;
}

.recap {
  padding-top: 30px;
  padding-bottom: 25px;
  *zoom: 1;
}

.recap:before, .recap:after {
  content: '';
  display: table;
}

.recap:after {
  clear: both;
}

.recap .recap-l {
  float: left;
  font-size: 2.5em;
  font-weight: 400;
}

.recap .recap-l span {
  display: block;
  font-size: 0.6em;
  color: #999999;
}

.recap .recap-l .icon {
  color: #add278;
  font-size: 2.0em;
}

.recap .recap-r {
  float: right;
  font-size: 2.5em;
  font-weight: 400;
  text-align: right;
}

.recap .recap-r span {
  display: block;
  font-size: 0.6em;
  color: #999999;
}

.recap .recap-r .icon {
  color: #add278;
  font-size: 2.0em;
}

.list-section {
  margin-bottom: 80px;
}

.list-section header {
  background-color: #add278;
  *zoom: 1;
}

.list-section header:before, .list-section header:after {
  content: '';
  display: table;
}

.list-section header:after {
  clear: both;
}

.list-section header.js-stick-on {
  height: 72px;
}

.list-section header.js-stick-on .stick {
  background-color: #add278;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 6;
}

@media only screen and (max-width: 767px) {
  .list-section header.js-stick-on .stick {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .list-section header.js-stick-on .stick {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .list-section header.js-stick-on .stick {
    padding: 0 70px;
  }
}

@media only screen and (min-width: 1281px) {
  .list-section header.js-stick-on .stick {
    padding: 0 100px;
  }
}

.list-section header.js-stick-on .stick a {
  line-height: 1.7;
}

.list-section header.js-stick-on .stick a.add-new {
  margin: 5px 0;
}

.list-section header a {
  display: block;
  float: left;
  color: #2c3e50;
  line-height: 2.4;
}

.list-section header a.add-new {
  font-size: 2.0em;
  margin: 10px 0;
  padding: 0 20px;
  border: 1px solid #2c3e50;
  border-radius: 3px;
}

@media only screen and (max-width: 767px) {
  .list-section header a.add-new {
    padding: 0 10px;
  }
  .list-section header a.add-new .icon-plus {
    display: none;
  }
}

.list-section header a.add-new span {
  padding-right: 10px;
  font-size: 1.4em;
  line-height: 1;
  vertical-align: -8px;
}

.list-section header a.add-new:hover {
  background-color: #4a6059;
  color: #F1F1F1;
}

.list-section header a.icon {
  font-size: 3.0em;
}

@media only screen and (max-width: 767px) {
  .list-section header a.icon {
    padding: 0 10px;
  }
  .list-section header a.icon-love {
    display: none;
  }
}

.list-section header .list-l {
  float: left;
  clear: none;
  width: 58.33333%;
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .list-section header .list-l {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .list-section header .list-l {
    float: left;
    clear: none;
    width: 37.5%;
    margin-left: 0;
    margin-right: 0;
  }
}

.list-section header .list-r {
  float: left;
  clear: none;
  width: 41.66667%;
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .list-section header .list-r {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .list-section header .list-r {
    float: left;
    clear: none;
    width: 62.5%;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    right: -20px;
  }
}

.list-section header .list-r li {
  float: left;
  clear: none;
  width: 20%;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  list-style: none;
}

@media only screen and (max-width: 767px) {
  .list-section header .list-r li {
    float: left;
    clear: none;
    width: 25%;
    margin-left: 0;
    margin-right: 0;
  }
}

.list-section header .list-r li a {
  padding: 0 25px;
  float: right;
}

@media only screen and (max-width: 767px) {
  .list-section header .list-r li a {
    padding: 0 15px;
  }
}

.list-section header .list-r li a:hover {
  background-color: #4a6059;
  color: #F1F1F1;
}

.list-section header .list-r li a:before {
  vertical-align: -6px;
}

.list-files .list-l {
  float: left;
  clear: none;
  width: 58.33333%;
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .list-files .list-l {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .list-files .list-l {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.list-files .list-r {
  float: left;
  clear: none;
  width: 41.66667%;
  margin-left: 0;
  margin-right: 0;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .list-files .list-r {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .list-files .list-r {
    float: left;
    clear: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.list-files .list-r span {
  float: left;
  clear: none;
  width: 25%;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .list-files .list-r span {
    font-size: 0.8em;
  }
}

.list-files .legend {
  background-color: #4a6059;
  border-bottom: 1px solid #2c3e50;
  color: #add278;
  *zoom: 1;
  font-size: 2.4em;
  font-weight: 200;
  line-height: 2.8em;
  transition: all 0.8s ease-out;
  height: 67px;
}

.list-files .legend:before, .list-files .legend:after {
  content: '';
  display: table;
}

.list-files .legend:after {
  clear: both;
}

@media only screen and (max-width: 767px) {
  .list-files .legend {
    display: none;
  }
}

.list-files .legend.js-stick-on {
  line-height: 1.6em;
  background-color: transparent;
}

.list-files .legend.js-stick-on .stick {
  background-color: #4a6059;
  position: fixed;
  top: 51px;
  right: 0;
  left: 0;
  z-index: 5;
  line-height: 1.6em;
}

@media only screen and (max-width: 767px) {
  .list-files .legend.js-stick-on .stick {
    padding: 0 20px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .list-files .legend.js-stick-on .stick {
    padding: 0 40px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .list-files .legend.js-stick-on .stick {
    padding: 0 70px;
  }
}

@media only screen and (min-width: 1281px) {
  .list-files .legend.js-stick-on .stick {
    padding: 0 100px;
  }
}

.list-files .file {
  border-bottom: 1px solid #999999;
  transition: all, 0.4s, ease-out;
}

.list-files .file.is-active {
  background-color: #4a6059;
}

.list-files .file.is-active:hover {
  background-color: #4a6059;
}

.list-files .file.is-active a {
  color: #F1F1F1;
}

.list-files .file a {
  color: #F1F1F1;
  padding: 20px 0;
  display: block;
  *zoom: 1;
  font-weight: 200;
}

.list-files .file a:before, .list-files .file a:after {
  content: '';
  display: table;
}

.list-files .file a:after {
  clear: both;
}

.list-files .file .list-l {
  font-size: 2.2em;
}

.list-files .file .list-r {
  font-size: 1.8em;
}

@media only screen and (max-width: 767px) {
  .list-files .file .list-r {
    margin-top: 20px;
    background: #233140;
    line-height: 1.5em;
  }
  .list-files .file .list-r span {
    text-align: center;
  }
}

.list-files .file .file-type {
  border: 1px solid #add278;
  border-radius: 50%;
  font-size: 0.7em;
  font-weight: 400;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 11px;
  transform: scale(0.8);
  transition: all, 0.4s, ease-out;
}

.list-files .file .file-name {
  padding-left: 60px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.list-files .file:hover {
  background-color: #354b60;
}

.list-files .file:hover .file-type {
  top: 11px;
  transform: scale(1);
  background-color: #add278;
  color: #2c3e50;
}

.add-new-bottom {
  text-align: center;
  width: 80%;
  max-width: 500px;
  margin: 0 auto 60px auto;
  display: block;
}

.add-new-bottom .icon-plus {
  font-size: 1.5em;
  vertical-align: -7px;
  padding-right: 12px;
}

@keyframes scaleFace {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.modal {
  visibility: hidden;
  display: none;
}

.modal .modal-mask {
  position: fixed;
  z-index: 901;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  opacity: 0;
  background: black;
  transition: opacity, 0.2s, linear;
}

.modal .modal-wrap {
  position: fixed;
  z-index: 902;
  top: 20px;
  opacity: 0;
  transition: opacify, 0.5s, ease-out;
  transition: visibility, 0s, ease-out;
  min-width: 500px;
}

@media only screen and (max-width: 767px) {
  .modal .modal-wrap {
    min-width: 300px;
    max-width: 95%;
  }
}

.modal .modal-body {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  background-color: #2c3e50;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  overflow: auto;
  text-align: left;
  position: relative;
}

.modal .modal-content {
  overflow: auto;
  margin-top: 40px;
  font-size: 1.8em;
}

.modal header {
  background-color: #2c3e50;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.modal header h2 {
  width: 100%;
  margin: 0 0 -10px 0;
  padding: 0 55px 0 20px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #F1F1F1;
  font-size: 2.4em;
  line-height: 1.8em;
  font-weight: 400;
}

.modal header .modal-close {
  position: absolute;
  z-index: 903;
  top: 0;
  right: 10px;
  font-size: 4em;
  transform: rotate(45deg) scale(0.7);
  color: #F1F1F1;
}

.modal header .modal-close:hover {
  transform: rotate(135deg) scale(1);
  top: -3px;
}

.modal .modal-pad {
  padding: 50px;
}

.modal.modal-lg .modal-body {
  min-width: 90%;
}

.modal.modal-sm .modal-body {
  max-width: 400px;
}

.modal.modal-slide .modal-wrap {
  transition-property: top;
  top: -100%;
  opacity: 1;
}

.modal.modal-grow .modal-wrap {
  transition-property: transform;
  transform: scale(0.9);
}

.modal.modal-shrink .modal-wrap {
  transition-property: transform;
  transform: scale(1.1);
}

.modal.modal-active {
  display: block;
}

.modal.modal-visible {
  visibility: visible;
}

.modal.modal-visible .modal-mask {
  opacity: 0.7;
}

.modal.modal-visible .modal-wrap {
  opacity: 1;
}

.modal.modal-visible.modal-slide .modal-wrap {
  top: 20px;
}

.modal.modal-visible.modal-grow .modal-wrap {
  opacity: 1;
  transform: scale(1);
}

.modal.modal-visible.modal-shrink .modal-wrap {
  opacity: 1;
  transform: scale(1);
}

.modal.modal-light .modal-mask {
  background: white;
  background: rgba(255, 255, 255, 0.9);
}

.modal.modal-transparent .modal-body, .modal.modal-transparent .modal-content {
  overflow: inherit;
  margin-top: 0;
}

.modal.modal-slow .modal-wrap {
  transition-duration: 0.8s;
}

.modal.modal-fast .modal-wrap {
  transition-duration: 0.25s;
}
