body {
  font-family: serif;
  font-size: 1.1em;
  background: url(../img/amnesia.png) black;
}

#content {
  color: #073642;
  font-size: 2em;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 0 0 #000;
  border-radius: 5px;
}

.flex {
  -ms-flex: 8;
      flex: 8;
  box-shadow: 0 0 50px #000;
  transition: all 0.5s ease-in-out;
}

:-webkit-full-screen a {
  transition: transform 1s ease;
}

:-moz-full-screen a {
  transition: transform 1s ease;
}

:-ms-fullscreen a {
  transition: transform 1s ease;
}

:fullscreen a {
  transition: transform 1s ease;
}

.test {
  box-sizing: border-box;
}
