/* Reset Styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Elation Base';
  src: url("fonts/elationbase/eb-light-webfont.eot");
  src: url("fonts/elationbase/eb-light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elationbase/eb-light-webfont.woff2") format("woff2"), url("fonts/elationbase/eb-light-webfont.woff") format("woff"), url("fonts/elationbase/eb-light-webfont.ttf") format("truetype"), url("fonts/elationbase/eb-light-webfont.svg#eb_light") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Elation Base';
  src: url("fonts/elationbase/eb-regular-webfont.eot");
  src: url("fonts/elationbase/eb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/elationbase/eb-regular-webfont.woff2") format("woff2"), url("fonts/elationbase/eb-regular-webfont.woff") format("woff"), url("fonts/elationbase/eb-regular-webfont.ttf") format("truetype"), url("fonts/elationbase/eb-regular-webfont.svg#eb_regular") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ultimages";
  src: url("fonts/ultimages/ultimages.eot");
  src: url("fonts/ultimages/ultimages.eot?#iefix") format("embedded-opentype"), url("fonts/ultimages/ultimages.woff") format("woff"), url("fonts/ultimages/ultimages.ttf") format("truetype"), url("fonts/ultimages/ultimages.svg#ultimages") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "ultimages" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "ultimages" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\62";
}

.icon-checkmark:before {
  content: "\63";
}

.icon-heart:before {
  content: "\65";
}

.icon-more:before {
  content: "\67";
}

.icon-keypad:before {
  content: "\68";
}

.icon-loader:before {
  content: "\6c";
}

.icon-ultimate:before {
  content: "\6e";
}

.icon-cloudy:before {
  content: "\6f";
}

.icon-love:before {
  content: "\7a";
}

.icon-delete:before {
  content: "\41";
}

.icon-edit:before {
  content: "\42";
}

.icon-lock:before {
  content: "\43";
}

.icon-unlock:before {
  content: "\44";
}

.icon-sync:before {
  content: "\45";
}

.icon-photo:before {
  content: "\46";
}

.icon-cloud:before {
  content: "\70";
}

.icon-map:before {
  content: "\71";
}

.icon-plus:before {
  content: "\61";
}

body {
  font-family: "Elation Base", sans-serif;
  font-size: 10px;
  background: #2c3e50;
  color: #F1F1F1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Elation Base", sans-serif;
  font-weight: 200;
}

a {
  color: #add278;
  text-decoration: none;
  transition: all, 0.4s, ease-out;
}

a:hover, a:focus {
  color: #F1F1F1;
}

a:active {
  color: #add278;
}

.wrapper {
  *zoom: 1;
  width: 100%;
  padding: 0 80px;
  margin: 0 auto;
  position: relative;
}

.wrapper:before, .wrapper:after {
  content: '';
  display: table;
}

.wrapper:after {
  clear: both;
}

.face {
  border-radius: 50%;
}

.main-header h1 {
  position: absolute;
  top: 70px;
  left: 60px;
  z-index: 2;
  width: 260px;
  height: 70px;
  background: url("../img/logo-ultimages.svg") no-repeat;
  text-indent: -9999px;
}

.main-header h1 a {
  display: block;
  color: #add278;
  font-size: 1.8em;
  font-weight: 400;
}

.main-header h1 a span {
  color: #999999;
}

.main-header nav {
  display: none;
}

.main-footer {
  padding: 100px 40px;
  margin-top: 60px;
  background-color: #354b60;
  text-align: center;
  font-size: 1.6em;
  font-weight: 200;
}

.main-footer img {
  max-width: 140px;
  margin-bottom: 10px;
}

.hero {
  height: 375px;
  background-color: #2c3e50;
  background-attachment: fixed;
  position: relative;
}

.hero.john-doe {
  background-image: url(../img/john-doe-bg.jpg);
}

.hero.rachel-doe {
  background-image: url(../img/rachel-doe-bg.jpg);
}

.hero.ronald-doe {
  background-image: url(../img/ronald-doe-bg.jpg);
}

.hero .wrapper {
  height: 375px;
}

.hero .face {
  position: absolute;
  bottom: -100px;
  left: 50%;
  margin-left: -100px;
}

.hero .info {
  position: absolute;
  top: 70px;
  right: 0;
  background-color: #2c3e50;
  padding: 20px 80px 20px 40px;
  text-align: right;
}

.hero .info h2 {
  font-size: 2.1em;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.hero .info h3 {
  font-size: 1.8em;
}

.hero .info .bio {
  display: none;
}

.recap {
  padding-top: 30px;
  padding-bottom: 25px;
  *zoom: 1;
}

.recap:before, .recap:after {
  content: '';
  display: table;
}

.recap:after {
  clear: both;
}

.recap .recap-l {
  float: left;
  font-size: 2.5em;
  font-weight: 400;
}

.recap .recap-l span {
  display: block;
  font-size: 0.6em;
  color: #999999;
}

.recap .recap-l .icon {
  color: #add278;
  font-size: 2.0em;
}

.recap .recap-r {
  float: right;
  font-size: 2.5em;
  font-weight: 400;
  text-align: right;
}

.recap .recap-r span {
  display: block;
  font-size: 0.6em;
  color: #999999;
}

.recap .recap-r .icon {
  color: #add278;
  font-size: 2.0em;
}

.list-section header {
  background-color: #add278;
  *zoom: 1;
}

.list-section header:before, .list-section header:after {
  content: '';
  display: table;
}

.list-section header:after {
  clear: both;
}

.list-section header a {
  display: block;
  float: left;
  color: #2c3e50;
  line-height: 2.4;
}

.list-section header a.add-new {
  font-size: 2.0em;
  margin: 10px 0;
  padding: 0 20px;
  border: 1px solid #2c3e50;
  border-radius: 3px;
}

.list-section header a.add-new span {
  padding-right: 10px;
  font-size: 1.4em;
  line-height: 1;
  vertical-align: -8px;
}

.list-section header a.add-new:hover {
  background-color: #4a6059;
  color: #F1F1F1;
}

.list-section header a.icon {
  font-size: 3.0em;
}

.list-section header .list-l {
  float: left;
  clear: none;
  width: 58.33333%;
  margin-left: 0;
  margin-right: 0;
}

.list-section header .list-r {
  float: left;
  clear: none;
  width: 41.66667%;
  margin-left: 0;
  margin-right: 0;
}

.list-section header .list-r li {
  float: left;
  clear: none;
  width: 20%;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
  list-style: none;
}

.list-section header .list-r li a {
  padding: 0 25px;
  float: right;
}

.list-section header .list-r li a:hover {
  background-color: #4a6059;
  color: #F1F1F1;
}

.list-section header .list-r li a:before {
  vertical-align: -6px;
}

.list-files .list-l {
  float: left;
  clear: none;
  width: 58.33333%;
  margin-left: 0;
  margin-right: 0;
}

.list-files .list-r {
  float: left;
  clear: none;
  width: 41.66667%;
  margin-left: 0;
  margin-right: 0;
}

.list-files .list-r span {
  float: left;
  clear: none;
  width: 25%;
  margin-left: 0;
  margin-right: 0;
  text-align: right;
}

.list-files .legend {
  background-color: #4a6059;
  color: #add278;
  *zoom: 1;
  font-size: 2.4em;
  font-weight: 200;
  line-height: 2.8;
}

.list-files .legend:before, .list-files .legend:after {
  content: '';
  display: table;
}

.list-files .legend:after {
  clear: both;
}

.list-files .file {
  border-bottom: 1px solid #999999;
  transition: all, 0.4s, ease-out;
}

.list-files .file a {
  color: #F1F1F1;
  padding: 20px 0;
  display: block;
  *zoom: 1;
  font-weight: 200;
}

.list-files .file a:before, .list-files .file a:after {
  content: '';
  display: table;
}

.list-files .file a:after {
  clear: both;
}

.list-files .file .list-l {
  font-size: 2.2em;
}

.list-files .file .list-r {
  font-size: 1.8em;
}

.list-files .file .file-type {
  border: 1px solid #add278;
  border-radius: 50%;
  font-size: 0.7em;
  font-weight: 400;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 11px;
  transform: scale(0.8);
  transition: all, 0.4s, ease-out;
}

.list-files .file .file-name {
  padding-left: 60px;
}

.list-files .file:hover {
  background-color: #354b60;
}

.list-files .file:hover .file-type {
  top: 11px;
  transform: scale(1);
  background-color: #add278;
  color: #2c3e50;
}
